.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background-image: url(./background-ellips.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: content-box;
}

.presentation {
  display: grid;
  grid-template-areas:
    'photo_1 title .'
    'photo_1 text .'
    'photo_1 text photo_3'
    '. text photo_3'
    'photo_2 text photo_3'
    'photo_2 text .';
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  align-content: center;
  justify-items: end;
  align-items: center;
  margin: 0;
  margin-left: 5%;
  max-width: 1100px;
  box-sizing: border-box;
}

.presentation_item {
  margin: 0;
  padding: 29px;
  background-color: var(--third-gray);
  border-radius: 14px;
  width: fit-content;
  height: fit-content;
}

.item_1 {
  composes: presentation_item;
  grid-area: photo_1;
  border-bottom-right-radius: 0;
}

.item_2 {
  composes: presentation_item;
  grid-area: photo_2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.item_3 {
  grid-area: title;
  justify-self: start;
}

.item_4 {
  composes: presentation_item;
  padding: 60px;
  grid-area: text;
  border-top-left-radius: 0;
}

.item_5 {
  composes: presentation_item;
  grid-area: photo_3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.photo {
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: 0px 0px 0px 6px #686868;
}

.photo_1 {
  composes: photo;
  width: 272px;
  height: auto;
}

.photo_2 {
  composes: photo;
  width: 250px;
  height: 281px;
}

.photo_3 {
  composes: photo;
  width: 287px;
  height: 427px;
}

.title {
  margin: 0 0 0 20px;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
  transform: translateY(25px);
}

.text {
  margin: 0;
  padding: 0;
  width: 370px;
  font-family: var(--arodora);
  font-size: 20px;
  line-height: 1.19;
}

@media screen and (max-width: 1279px) {
  .item_1,
  .item_2,
  .item_5 {
    display: none;
  }

  .container {
    background-image: none;
    box-sizing: border-box;
  }

  .presentation {
    grid-template-areas:
      'title'
      'text';
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    align-items: center;
    margin: 0;
    padding: 0 40px;
    }

    .title {
      font-size: 24px;
      transform: translateY(15px);
    }

    .item_4 {
      padding: 30px;
      border-top-left-radius: 14px;
    }

    .text {
      max-width: 940px;
      min-width: 200px;
      width: auto;
      font-size: 16px;
    }
}