@import url('../vendors/normalize.css');
@import url('../vendors/fonts/fonts.css');
@import url('./constants.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nextart, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--main-text);
  background-image: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
