.section {
  margin: 0;
  padding: 0 0 100px 0;
  width: 100%;
  min-width: 320px;
  background-image: linear-gradient(130.68deg, var(--primary-gray) 0%, var(--secondary-gray) 100.52%);
}

.title {
  margin: 0;
  padding: 0;
}